.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
.header {
  text-align: center;
}
body {
  background-color:#fcf8ec;
  }

h1 {
  margin: 30px;
  font-family: 'Public Sans', sans-serif;;
  font-size: 5rem;
  color: #456268;
text-align: center;
}

p {
  font-size: 2.5rem;
  color: #79a3b1;
  font-family: 'Work Sans', sans-serif;
}

img {
  width: 55%;
  margin-bottom: 30px;
}

footer {
  margin-top: 5%;
  color: #d45f5f;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

a {
  text-decoration: none;
  color: #d45f5f;
}

a:hover {
  text-decoration: underline;
  color: #d45f5f;
  }
